@*#if (!Routing)*@
@page "/"
@*#endif*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
@*#if (Interactivity != "None")*@
    <link rel="stylesheet" href="css/blazor-ui.css" />
@*#endif*@
    <link rel="stylesheet" href="BlazorMin.styles.css" />
@*#if (Interactivity == "None")*@
    <HeadOutlet />
@*#elif (Interactivity == "Server")*@
    <HeadOutlet @rendermode="@InteractiveServer"/>
@*#elif (Interactivity == "WebAssembly")*@
    <HeadOutlet @rendermode="@InteractiveWebAssembly"/>
@*#elif (Interactivity == "Auto")*@
    <HeadOutlet @rendermode="@InteractiveAuto"/>
@*#endif*@
</head>
<body>
@*#if (Routing)*@
@*#if (Interactivity == "None")*@
    <Routes />
@*#elif (Interactivity == "Server")*@
    <Routes @rendermode="@InteractiveServer"/>
@*#elif (Interactivity == "WebAssembly")*@
    <Routes @rendermode="@InteractiveWebAssembly"/>
@*#elif (Interactivity == "Auto")*@
    <Routes @rendermode="@InteractiveAuto"/>
@*#endif*@
@*#elif (Layout)*@
@*#if (Interactivity == "None")*@
    <LayoutView Layout="@typeof(MainLayout)">
        <Home />
    </LayoutView>
@*#elif (Interactivity == "Server")*@
    <LayoutRoot @rendermode="@InteractiveServer"/>
@*#elif (Interactivity == "WebAssembly")*@
    <LayoutRoot @rendermode="@InteractiveWebAssembly"/>
@*#elif (Interactivity == "Auto")*@
    <LayoutRoot @rendermode="@InteractiveAuto"/>
@*#endif*@
@*#else*@
@*#if (Interactivity == "None")*@
    <Home />
@*#elif (Interactivity == "Server")*@
    <Home @rendermode="@InteractiveServer"/>
@*#elif (Interactivity == "WebAssembly")*@
    <Home @rendermode="@InteractiveWebAssembly"/>
@*#elif (Interactivity == "Auto")*@
    <Home @rendermode="@InteractiveAuto"/>
@*#endif*@
@*#endif*@
@*#if (!Layout && (Interactivity != "None"))*@

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

@*#endif*@
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
